# App
NODE_ENV=dev
TZ=Asia/Kolkata
GATEWAY_PORT=8080
APP_NAME=Streamly
API_PREFIX=api
APP_DOMAIN=localhost:8080


# COOKIE
COOKIE_SECRET=
COOKIE_HTTP_ONLY=false
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict
COOKIE_MAX_AGE=2592000 # 30 days

# JWT
JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=

# Session
SESSION_SECRET=

# Microservice
NATS_URL=nats://nats
GRPC_GATEWAY_URL=localhost:50051

# Cache Settings
REDIS_HOST=

# Rate limiting
THROTTLE_TTL_LONG=60000
THROTTLE_LIMIT_LONG=50
THROTTLE_TTL_SHORT=100
THROTTLE_LIMIT_SHORT=3

## Auth-Service DB
DB_URL_AUTH=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# UI
VITE_APP_NAME=Streamly
VITE_SERVER_URL=http://localhost:8080/api
VITE_API_VERSION=1
